
body{background-image: }
header{font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 0%;
}

nav ul li {margin: 0% 10px;
    list-style: none;
    background-color: gray;
    padding: 2% 2%;
    /* height: 70px;
    width: 70px; */
    border-radius: 50%;
    word-wrap: break-word;

   

}